*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    

    
}

.hack-hero{
    background-image:url("assets/img/group_banner.jpg")
}

.btn-primary {
    background-color:  #A45EE9 !important; 
    color: #FFFFFF; 
    border-color:  #A45EE9 !important;
    margin: 20px;
    padding-top: 10px !important;
    padding-right: 30px !important;
    padding-bottom: 10px !important;
    padding-left: 30px !important;
  }
  
/* .btn-primary:hover {
    background-color:  rgb(172, 49, 172) !important; 
    color: #FFFFFF; 
    border-color:  #A45EE9 !important;
    margin: 20px;
    
    
    
  } */


 

a{
    text-decoration: none !important;
    color: white !important;
    font-size: 20px;
    
    
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  img{ width: 100%; height: 60vh}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  img{ width: 100%; height: 68vh}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  img{ width: 100%; height: 70vh}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1180px) {
  img{ width: 100%; height: 72vh}
}

@media only screen and (min-width: 1400px) {
  img{ width: 100%; height: 80vh}
}
